<h1>Admin::Dashboard#show</h1>
<div class="panel panel-default products"> 
    <dl class="dl-horizontal">
      <br/>
      <dt>Total products:</dt> 
      <dd> <%= @total_products %></dd>

      <br/>
      <dt>Total categories:</dt> 
      <dd><%= @total_categories %></dd>
    </dl>
  </div>
